* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    background-color: black;
}

/* NAVAR  ====================================================================================================== */

.show {
    display: flex !important;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li>a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 20px 15px 10px 15px;
    display: block;
}

nav ul li .link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: white;
}

nav ul li .link:hover:before {
    transform: scaleX(1);
}

nav .more {
    display: none;
}

nav .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 200px;
    background-color: white;
    margin-top: 48px;
}

nav .menu a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav .menu a:hover {
    background-color: black;
    color: white;
}

nav .mobile {
    display: none;
    width: 100%;
}

nav .mobile .header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

nav .mobile .header a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    padding: 10px;
}

nav .mobile .header #bmenu {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

nav .mobile .links {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200;
    background-color: black;
}

nav .mobile .links a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav .mobile .links a:hover {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    background-color: white;
}

/* HEADER====================================================================================================== */

header {
    background-image: url(../img/halo-infinite-cover-darkmode.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* BANNER ====================================================================================================== */

h2 {
    font-size: 3rem;
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 0;
    margin-bottom: 40px;
}

h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 50px;
    transform: scale(0.2) skewY(-20deg) rotate(20deg);
    background-color: greenyellow;
}

#banner {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    color: white;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 50px;
    z-index: 100;
    width: 400px;
}

.green-button {
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 3px 20px;
    background-color: greenyellow;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 30px;
    text-transform: uppercase;
}

.green-button:hover {
    background-color: rgb(84, 136, 5);
}

.green-link {
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    color: greenyellow;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
}

.green-link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: greenyellow;
}

.green-link:hover::before {
    transform: scaleX(.8);
}

/* VIDEO ====================================================================================================== */

.w-75 {
    width: 75%;
    margin: 0 auto;
}

h3 {
    font-size: 1.5em;
    padding-top: 50px;
    color: white;
}

/* VIDEOS======================================================================================= */

#videos {
    text-align: center;
    padding: 50px 0;
    background-color: rgb(56, 55, 51);
    background-image: url(../img/bg-videos.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: white;
}

#videos #slider #controls {
    display: flex;
    justify-content: center;
}

#videos #slider #controls #prev,
#videos #slider #controls #next {
    border: none;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#videos #slider #controls #prev:hover,
#videos #slider #controls #next:hover {
    background-color: rgb(100, 164, 4);
}

#videos #slider #current {
    width: 1250px;
    margin: 50px auto;
    border: solid 1px rgb(59, 197, 252);
}


#videos #slider #videos-container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    overflow: auto;
}

#videos #slider #videos-container .item {
    border: 1px solid rgb(59, 197, 252);
    cursor: pointer;
    overflow: hidden;
    min-width: 250px;
    height: 150px;
}

#videos #slider #videos-container .item a {
    position: relative;
}

#videos #slider #videos-container .item img {
    object-fit: contain;
    transition: opacity 0.3s ease;
    min-width: 250px;
    height: 150px;
    transition: opacity 0.3s ease;
}

#videos #slider #videos-container .item:hover img {
    opacity: 0.6;
    object-fit: contain;
}

#videos #slider #videos-container .item a::before {
    font-family: "Material Symbols Outlined";
    content: "smart_display";
    color: greenyellow;
    position: absolute;
    display: block;
    left: 110px;
    top: -15px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

/* multiplayer  ============================================================ */

#multi-player {
    height: 120vh;
    background-image: url(../img/bg-multiplayer.jpeg);
    display: flex;
    align-items: center;
    justify-content: end;
}

.info {
    line-height: 1.2;
    padding: 80px;
    width: 550px;
    margin-right: 1px;
    text-align: end;
    transition: background-color .3s ease;
}

.info p {
    font-size: 20px;
}

/* GET THE GAME ================================================================================================== */

#get-the-game {
    text-align: center;
    padding: 50px 0px;
    color: white;
}

#get-the-game h2 {
    color: white;
}

#get-the-game h3 {
    font-size: 1.9rem;
    padding: 0%;
    margin: 0%;
}

#get-the-game .item-store {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
}

#get-the-game .item-store .left {
    padding: 0px 30px;
    width: 100%;
}

#get-the-game .item-store .left img {
    width: 400px;
}

#get-the-game .item-store .right {
    text-align: left;
    width: 80%;
}

/* Footer ===================================================================================================== */

footer {
    height: 800px;
    background-image: url(../img/master-chief-darkmode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .copyright {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}


/* RESPONSIVE  ====================================================================================================== */

@media screen and (max-width: 1200px) {
    .info {
        background-color: rgba(0, 0, 0, .8);
        color: white;
        text-align: center;

    }
}

@media screen and (max-width: 1191px) {
    nav .link-hide {
        display: none;
    }

    nav .more {
        display: flex;
    }

    header {
        height: 70vh;
    }

    #banner {
        position: initial !important;
        z-index: 100;
        width: 100%;
    }

    #slider #current {
        width: 80% !important;
    }

    #slider #current iframe {
        height: 500px;
    }

    #multi-player {
        background-position: center left;
    }

    .info {
        width: 600px;
        padding: 0;
    }

    #get-the-game .item-store {
        width: 100%;
        padding: 20px;
    }

    #get-the-game .item-store .left img {
        width: 300px;
    }

    #get-the-game .item-store .right {
        width: 100%;
    }

    footer {
        background-position: center;
    }
}


@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        padding: 0;
    }

    nav ul {
        display: none;
    }

    nav .mobile {
        display: block;
    }

    header {
        background-position: center 20px;
        height: 30vh;
    }

    #slider #current iframe {
        height: 300px;
    }

    #slider #videos-container {
        display: none !important;
    }

    #multi-player {
        background-position: -400px 0px;
    }

    .info {
        width: 90%;
        margin: 0;
    }


    #get-the-game .item-store {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    #get-the-game .item-store .left img {
        width: 300px;
    }

    #get-the-game .item-store .right {
        text-align: center;
        width: 100%;
    }

    footer {
        height: 400px;
        background-position: center;
    }
}